header {
    background-color: #868e96;
  }
  
  footer {
    background-color: #868e96;
    color:white;
  }
  
  .align-center{
    align-items:center;
  }


.bg--primary{
    background-color:$blue-500;
  }
.bg--warning{
  background-color:$red-500
}

