/* Votre feuille de style à compléter */

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: #333;
}

@media(max-with: 400px){
  header.nav{
flex-direction: column;
  }
}

header{
  background-color: rgb(155, 155, 155);
  display: flex;
  align-items: center; 
  padding: 10px;
}
#header_home{
  margin-top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  background-color: black;
  display:flex;
  color:white;
  align-items: center; 
  justify-content: center; 
  font-size: 12px;
}

nav{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  text-align: center;
  
}

nav a {
  text-decoration: none;
  justify-content: space-between;
  background-color: #AAA;
  width: 100px;
  height: 30px;
  margin: 5px;
  display: flex; 
  align-items: center;
  justify-content: center;
  color:white;
  border-radius: 5px;
  
}

nav a:hover {
  background-color: blue;
}

aside{
  display: flex;
  padding: 10%;
  margin-top: 2%;
  margin:auto;
  max-width: 960px;
}

#Photo{
  margin-top: 5px;
  background-color: rgb(180, 180, 180);
  display:flex;
  width: 50%;
  height: 100%;
}

h1{
  margin-left: 30px;
  background-color: gray;
  height: 30px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
}

p{
  margin-top: 100px;
  margin-left: 630px;
  justify-content: left;
  background-color: rgb(207, 207, 207);
  height: 300px;
  width: 600px;
  position: absolute;

}

section {
  justify-content: space-between;
  display: flex;
  justify-content: flex-end;
  justify-content: center;
  position: absolute;
  margin-top: 200px;
}

article {

  width: 300px;
  height: 350px;
  background-color: #AAA;
  justify-content: space-between;
  margin: 2%;
  display: flex;
  justify-content: center;
  max-width: 960px;

}

h2 {
  color:blue;
  margin-top:140%;
}

  

